.card-slide-container {
    position: relative;
    width: 100vw;
    display: flex;
    min-height: 30vh;
    transition: ease 1s;
    z-index: 2;
}

.card-slider-button-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 35%;
}

.card-slider-button-container button {
    width: 50px;
    height: 70px;
    font-size: 4rem;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .5s;
    border-radius: 20px;
    text-align: center;
    z-index: 5;
}

.card-slider-button-container button:hover {
    background: rgba(33, 37, 41, 0.42);
}

.card-slide-article h1 {
    margin: 10px 10px 0 20px;
    font-size: 1.7rem;
    color: #343a40;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.movie-poster {
    width: inherit;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.movie-poster:hover {
    box-shadow: rgba(3, 67, 140, 1) 0px 0px 0px 3px;
}

.left-move-button {
    opacity: 0;
    z-index: -99;
}