@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@500&family=Noto+Sans+KR:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@500;700&family=Noto+Sans+KR:wght@900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url("background.svg");
    box-sizing: border-box;
}

article {
    overflow-x: hidden;
    position: relative;
}

ul {
    list-style: none;
    margin-left: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.header {
    background: antiquewhite;
    display: flex;
    justify-content: center;
}


.bg-black {
    background: #212529;
}